.header {
    height: 180px;
}




/* search */

.header--center__search {
    position: relative;
    padding-top: 75px;
}

.menu--search {
    position: absolute;
    margin: 4px 8px;
    width: 28px;
    height: 28px;
}

.item {
    margin-top: 0.1rem;
    height: 1.5rem;
    background-color: rgba(114, 110, 110, 0.75);
}

#search--list {
    height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin: 5px;
    width: auto;
    z-index: 100;
}

#sname {
    margin: 0 0.5rem;
    color: white;
}

#sname:hover {
    cursor: pointer;
    transform: scale(1.025);
    color: black;
}

.header--center__search i {
    position: absolute;
    margin: 5px;
    font-size: 20px;
    color: #FFD700;
}

.header--center__search input {
    width: 490px;
    height: 40px;
    margin-left: 4px;
    padding-left: 36px;
    border-radius: 4px;
    border: 1px solid #FFD700;
}

input[type="text"]::placeholder {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
    font-family: quicksand, sans-serif;
}


/* search mobile */

.header--center-mobile__search {
    height: 148px;
    line-height: 148px;
    display: none;
}

.header--center-mobile__search i {
    font-size: 1.45rem;
    color: rgba(0, 0, 0, 0.75);
}


/* logo */

.header--left {
    height: 180px;
    background-image: url(../img/homepage/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}


/* cart, account */

.header--right {
    display: flex;
    justify-content: end;
    height: 11.25rem;
    line-height: 14rem;
    margin-right: 7rem;
}

.header--right a i {
    font-size: 25px;
    padding-left: 20px;
    color: #FFD700;
}

@media (max-width:1023px) {
    .header {
        height: 128px;
    }
    .header--center,
    .header--right,
    .header--left-mobile__search {
        height: 128px;
        line-height: 136px;
    }
    .header--left__search {
        display: none;
    }
    .header--center-mobile__search {
        display: flex;
        justify-content: start;
    }
}

@media (max-width:575px) {
    .header--center-mobile__search,
    .header--right {
        display: none;
    }
}
